@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#root {
  position: relative;
}

.child:hover {
  fill: rgb(69, 69, 69);
}

svg {
  margin: 0;
}
.progress-bar {
  background: rgb(252, 140, 140);
}
.progress-bar > div {
  white-space: nowrap;
  padding: 5px 0px;
  animation-duration: var(--progressTime);
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-name: progress-bar;
}

@keyframes progress-bar {
  0% {
    width: 100%;
  }
  80% {
    width: 0px;
  }
  100% {
    width: 0px;
  }
}
